<link href="/css/index.css" rel="stylesheet">
<div class="container">
  <div class="starter-template">
    <div class="center-block index-div">
    	<div class="col-sm-6 col-md-5 index-div-left">
    		<h3>Find something interesting.</h3>
    		<div class="description">Wiki record your logs,Ads Deploy your project,more interesting things to you to make</div>
    	</div>
    	<div class="col-sm-6 col-md-5 image-column index-div-right">
    		<h1>http://boboface.com</h1>
    		<img src="/images/wall1.png" alt="Tools" style="width:150%">
    	</div>
    </div>
  </div>
</div>