<link href="/css/dashboard.css" rel="stylesheet">
<!-- zTree -->
<link rel="stylesheet" href="/css/zTreeStyle/zTreeStyle.css" type="text/css">
<link href="/css/ads.css" rel="stylesheet">
<link rel="stylesheet" href="/lib/codemirror.css">
<link rel="stylesheet" href="/theme/monokai.css">
<style type="text/css">
    .CodeMirror {
        height:550px;
    }     
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-3 sidebar">
    	<ul id="serverTree" class="ztree"></ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main">
		<div id="adsContent"></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/js/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="/js/server.js"></script>