/*ul.ztree{
	width: auto;
	height: 100%;
	overflow-y: hidden;
	margin-top: 0;
}

/*ztree 字体*/
.ztree *{
	font-size: 100%;
}

#adsBtnBox {
	height:34px;
	margin-bottom:10px;
}

#adsBtnBox .title {
	line-height:34px;
	font-size:18px;
}

/*发布参数表单*/
#buildParam table td:first-child{
	border-left: 0;
}

#buildParam table td{
	border-left: 1px solid #ddd;
}

/*发布参数按钮*/
#adsBuildForm a{
	text-decoration: none;
}

/*ads项目分页*/
#adsProjectPaging ul{
	margin: 0;
}

/*ads项目编辑*/
.checkAll {
	margin:0;
}

.checkAll label{
	font-weight: bold;
}

#adsProjectEdit{
	margin-top: 20px;
}