/*ul.ztree{
	width: auto;
	height: 100%;
	overflow-y: hidden;
	margin-top: 0;
}

/*ztree 字体*/
.ztree *{
	font-size: 100%;
}

.toolbar {
	display: block;
    padding: 9.5px;
    margin: -20px -40px 10px -40px;
    color: #333;
    background-color: #f5f5f5;
}

.toolbar a{
    margin-left: 30px;
}

.stsTreePrivilegeCheckBox{
	margin-top: 0;
	margin-bottom: 0;
}

#stsTreePrivilegeModal .table th,#stsTreePrivilegeModal .table td { 
	text-align: center;
}

/*分页*/
#paging{
	text-align: center;
}

/*项目id按钮*/
#adsProjectList a{
	text-decoration: none;
}


#adsServerList .adsServerTitle{
	word-break: break-all;
	width: 200px;
	white-space: normal;
}

#adsServerList .hideTitle{
	float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
	border-top: 0;
}